.bienvenida {
    background-image: url("/images/fondo_pricipal.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.banner_dos {
    background-image: url("/images/banner_dos.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.contacto {
    background-image: url("/images/contact.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.sobre_nosotros {
    background-image: url("/images/sobre_nosotros.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.afiliacion {
    background-image: url("/images/afiliacion.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.shadow-text {
    text-shadow: 1px 1px 4px black;
}

.fade-in-slide {
    opacity: 0;
}

@keyframes fadeInSlide {
    0% {
        opacity: 0;
        transform: translateX(1%);
    }
    100% {
        opacity: 1;
    }
}

@media (min-width: 768px) {
    .fade-in-slide {
        animation: fadeInSlide 0.4s ease-in-out 0.4s forwards;
    }
}
